<nav class="navbar navbar-expand-lg bg-info">
    <section class="container">
      <a class="navbar-brand" href="/">Tienda</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav d-flex" style="align-items: center;">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'inicio' %} active {% endif %}" href="{% url 'inicio'%}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'productos' %} active {% endif %}" href="/productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'contacto' %} active {% endif %}" href="/contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/iniciar"><button class="btn btn-success">Iniciar sesion</button></a>
          </li>
        </ul>
      </div>
    </section>
  </nav>