{% extends 'base\base.html' %}
{% block title %}Productos{% endblock title %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/css/productos.css' %}">
{% endblock css %}
{% block content %}
<section>
    <h2 class="textc">Productos del sistema</h2>
    <section class="row">
        {% for producto in productos %}
            <div class="col-4 my-2 " id="{{ producto.id }}" style="height: 150px;">
                <article class="card shad transition" style="height: 100%">
                    <section class="card-content">
                        <h3 class="card-title">
                         {{ producto.nombre }}
                        </h3>
                        <p class="card-text">
                            {{ producto.detalle }}
                        </p>
                    </section>
                </article>
            </div>
        {% endfor %}
    </section>
</section>

{% endblock content %}