/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 1vw;;
    
  }
  
  ::-webkit-scrollbar-track {
    background:#303030;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #890606;
    transition: 10s;
  }
body{
    width: 100%;
    min-height: 100vh;
    background: #ddd linear-gradient(to top, rgb(41, 42, 47),#1b1a1a);
    margin: 0;
}
body>header,main,footer{
    display: block;
}
nav{
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
    background-color: #303030;;
    border-radius: 0 0 8px 8px;
    width: 99vw;
    height: 60px;
}
#navbarNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}
button{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
li:not(:has(button)) :hover{
    background-color: rgba(255, 17, 0, 0.733);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
   
}

#buscar1{
    width: 93px;
}
#buscar1:hover{
    width: 300px;
}
#buscar1:focus{
    width: 300px;
    border: none;
    box-shadow: 4px 4px 10px rgb(157, 0, 0);
}
#buscar2{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-color: #303030;
    text-decoration: none;
    border-radius: 8px;
    color:rgba(255, 17, 0, 0.733);
    border: 1px solid rgba(255, 17, 0, 0.733);
}
#buscar2:hover{
    background-color: rgba(255, 17, 0, 0.733);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    color:white;   
}

.shad:hover{
    box-shadow: 0 4px 10px rgb(140, 0, 255);
}
.transition{
    transition: .4s;
}
#iniciar-sesion{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-color: #303030;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid rgba(0, 215, 7, 0.733);
}

#iniciar-sesion:hover{
    background-color: rgba(0, 215, 7, 0.733);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
}
#iniciar-sesion>a :hover{
    color:white;
}
main{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px 0;
}
