body{
    width: 100%;
    background: #ddd linear-gradient(to right, rgb(35, 47, 211),#e45603);
    margin: 0;
}
body>header,main,footer{
    display: block;
}
nav{
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
    background: #ddd linear-gradient(to right, #00ff4c,#63f800);
}
button{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
li:not(:has(button)) :hover{
    background-color: rgba(17, 223, 223, 0.733);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}
nav{
    border-radius: 0 0 15px 15px;
}
main{
    display: flex;
    min-height: 80vh;
}
