main>section{
    background-color: rgba(94, 91, 94, 0.548);
    border-radius: 20px;
    width: 70%;
    padding: 25px;
}
article{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    padding: 2%;
}

.textc{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}